<!-- <div id="parent">
<div class="block center" *ngFor="let fruit of fruits">
  <span class="badge">{{fruit.id}}</span> {{fruit.name}}
  <span class="badge">{{fruit.prize}}</span>
</div>
   <ul class="products" >
    <li *ngFor="let fruit of fruits">
          <span class="badge">{{fruit.id}}</span> {{fruit.name}}
    </li>
  </ul>

</div> -->
<mat-list role="list" color="primary">
  <mat-list-item  role="listitem" *ngFor="let client of Clients"  >
    <mat-icon matListIcon color="primary">folder</mat-icon>
    <h3 matLine > {{client.name|uppercase}} </h3>
    <p matLine >{{client.description}}</p>
    <mat-divider color="primary"></mat-divider>
  </mat-list-item>
</mat-list>
<mat-list role="list">
  <mat-list-item role="listitem">Element 1</mat-list-item>
  <mat-list-item role="listitem">Element 2</mat-list-item>
</mat-list>