<h2> {{title}}</h2>
<!-- <div id="parent">
<div class="block center" *ngFor="let fruit of fruits">
  <span class="badge">{{fruit.id}}</span> {{fruit.name}}
  <span class="badge">{{fruit.prize}}</span>
</div>
   <ul class="products" >
    <li *ngFor="let fruit of fruits">
          <span class="badge">{{fruit.id}}</span> {{fruit.name}}
    </li>
  </ul>

</div> -->
<!-- <mat-list>
  <h3 mat-subheader>Clients</h3>
  <mat-list-item *ngFor="let client of Clients">
    Juste pour voir le comportement...
    <img matListAvatar src="assets/img1.JPG" alt="description">
    <h3 mat-line>{{client.name}} </h3>
    <p mat-line>
      <span> {{client.description}}</span>
      <span class="demo-2"> -- {{fruit.prize}}</span>
    </p>
  </mat-list-item>
</mat-list> -->
<p>Juste pour voir comment ça va donner</p>
<mat-list role="list">
  <mat-list-item role="listitem">Element 1</mat-list-item>
  <mat-list-item role="listitem">Element 2</mat-list-item>
</mat-list>